@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');



.container{
  margin-bottom: 100px;
  align-items: center;
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  border: solid 4px #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 32px 32px;
  scroll-margin-bottom: 100%;
  position: center;
}

#tarea{
    position: absolute;
    right : 135px;
}


#titulo{
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        font-family: 'Josefin Sans', sans-serif;
}

#encabezado{
  max-width: 100%;
}

.col{
  display:block;
}

.row {
  overflow: hidden;
  display: block;
  flex-direction: row;
}

.row .btn{
  margin: 2px;
  font-size: 1vw;
}


hr{
  background-color: rgba(20, 172, 232, 0.825);
}


thead {
  background-color:#0080be;

}



.modal-content{
  border: solid 4px #0080be;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 32px 32px;
  scroll-margin-bottom: 100%;
  position: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
position: relative;
overflow: hidden;
   width: 300px;
}

h5{
  font-size: 16px;
}

.modal-body{
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.modal-footer{
  margin-left: 0px;
  margin-right: 30px;

}
