<!--TABLA DE LOGS-->
<div *ngIf="!showContent">
    <h1 id="titulo">Cargando...</h1>
  </div>
  <div *ngIf="showContent">
    <div *ngIf="identity.rol == 'inspector' || proyecto.id == 0">
        <error-component></error-component>
    </div>
<div class="container" *ngIf="logs && identity.rol != 'inspector' && proyecto.id != 0 && identity.sub == proyecto.user_id
||logs && identity.rol != 'inspector' && proyecto.user_id != 0 && identity.rol == 'admin' 
||logs && identity.rol != 'inspector' && proyecto.user_id != 0 && identity.rol == 'direccion'">
    <h5 id="titulo">Log del Proyecto # {{proyecto.numero_contratacion}} </h5>

    <div class="table-responsive">

    <table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">ID Proyecto</th>
                <th scope="col">Usuario</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let log of logs | slice:desde:hasta let i=index">
                    <td>{{log.id}}</td>
                    <td>{{log.proyecto_id}}</td>
                    <td>{{log.usuario}}</td>
                    <td>{{log.descripcion}}</td>
                    <td>{{log.created_at.slice(0,log.created_at.lastIndexOf('.')).split("T")}}</td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="logs.length" [pageSize]="5"  [pageSizeOptions]="[5, 10, 25, 100]"  aria-label="Select page" (page)="cambiarpagina($event)">
    </mat-paginator>

    </div>
</div>
</div>

