<div style="border:20px;" [ngSwitch]="status">
    <div class="alert alert-danger" *ngSwitchCase="0">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Error</strong> de servidor interno!!!
    </div>

    <!--MODIFICO CON EXITO-->
    <div class="alert alert-success" *ngSwitchCase="2">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="bi bi-check-circle-fill"></i>
        <strong> Éxito:</strong> Avance modificado con exito !!!
    </div>

    <!--AVANCE DE TAREA-->
    <div class="alert alert-danger" *ngSwitchCase="3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Error:</strong> El avance no debe ser mayor a 100 !!!
    </div>

    <!--IMAGEN ELIMINADA CON EXITO-->
    <div class="alert alert-success" *ngSwitchCase="4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="bi bi-check-circle-fill"></i>
        <strong> Éxito:</strong> Imagen eliminada con exito !!!
    </div>

    <!--DOCUMENTO ELIMINADA CON EXITO-->
    <div class="alert alert-success" *ngSwitchCase="5">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="bi bi-check-circle-fill"></i>
        <strong> Éxito:</strong> Documento eliminado con exito !!!
    </div>

</div>

<div class="container">
    <div class="form-group" style="margin-bottom: 30px;">
        <p>Agregar Inspección</p>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block" id="opciones" type="button" data-toggle="collapse"
                        data-target="#UNO" aria-expanded="true" aria-controls="collapseOne">
                        Datos de la inspección
                    </button>
                </h2>
            </div>

            <div id="UNO" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <!--FORMULARIO-->
                    <form id="formInspeccion" class="col-md-6 mr-auto ml-auto" #createInspeccionForm="ngForm"
                        (ngSubmit)="onSubmit(createInspeccionForm)">
                        <!--TITULO-->

                        <div class="row">
                            <div id="info" class="form-grou col-md-6">
                                <label>Numero de inspeccion: </label>
                                <input type="number" name="numero" class="form-control" #numero="ngModel"
                                    [(ngModel)]="inspeccion.numero" required pattern="^[1-9]\d*$" disabled>
                                <small *ngIf="!numero.valid && numero.touched" class="invalid-feedback d-block">
                                    El número de inspección no es válido
                                </small>
                            </div>
                            <div id="info" class="form-group col-md-6">
                                <label>Firma: </label>
                                <input type="text" name="firma" class="form-control" #firma="ngModel"
                                    [(ngModel)]="inspeccion.firma" required pattern="^[a-zA-ZñÑ0-9\.\s\W]*$">
                                <small *ngIf="!firma.valid && firma.touched" class="invalid-feedback d-block">
                                    La firma no es válida
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div id="info" class="form-group col-md-6" style="margin-right:200px;margin-top: 25px;">
                                <mat-form-field appearance="fill" style="width:215%;">
                                    <mat-label>Escriba sus observaciones...</mat-label>
                                    <textarea name="observaciones" #observaciones="ngModel"
                                        [(ngModel)]="inspeccion.observaciones" matInput
                                        placeholder="Escriba sus observaciones..." required></textarea>
                                </mat-form-field>
                                <small *ngIf="!observaciones.valid && observaciones.touched"
                                    class="invalid-feedback d-block">
                                    La observación no es válida
                                </small>
                            </div>
                        </div>


                    </form>
                    <!--FORMULARIO-->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block" id="opciones" type="button" data-toggle="collapse"
                        data-target="#CUATRO" aria-expanded="true" aria-controls="collapseOne">
                        Avance de las tareas
                    </button>
                </h2>
            </div>

            <div id="CUATRO" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <!--TAREAS-->
                    <div>

                        <div class="row">
                            <div class="col">
                                <h5 id="titulo">Tareas activas</h5>
                            </div>
                        </div>

                        <div class="table-responsive" id="table_refresh" *ngIf="tareas.length != 0">
                            <table class="table table-striped" style="position: center; margin-top: 10px;">
                                <thead>
                                    <tr>
                                        <th scope="col">Numero</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Avance</th>
                                        <th scope="col">Modificar Avance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let tarea of tareas | slice:desde:hasta let i=index">
                                        <tr *ngIf="tarea.avance != '100'">
                                            <td>{{tarea.numero}}</td>
                                            <td>{{tarea.descripcion}}</td>
                                            <td>{{tarea.avance}}</td>
                                            <td>
                                                

                                                <button type="button" class="btn btn-primary" data-toggle="modal" 
                                                data-target="#modalEditarT"><span class="bi bi-pencil-fill"></span></button>

                                                <div class="modal fade" id="modalEditarT" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5>  <strong> Avance de Tarea {{tarea.id}}</strong>
                                                                </h5>
                                                                <button type="button" class="close" style="color:black" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>

                                                            <div class="modal-boddy" style="margin-top:10px; align-self: center;">
                                                                <label for="avance"
                                                                    class="col-form-label">Valor:</label>
                                                                <input #avance type="number" value="{{tarea.avance}}"
                                                                    class="form-control" id="avance">

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">Cancelar</button>
                                                                <button id="btnConfirmar{{tarea.id}}" type="button"
                                                                    class="btn btn-success"
                                                                    (click)="getTarea(tarea.id, avance.value)"
                                                                    data-dismiss="modal">Modificar</button>

                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                            <mat-paginator [length]="tareas.length" [pageSize]="5"
                                [pageSizeOptions]="[3, 5, 10, 25, 100]" aria-label="Select page"
                                (page)="cambiarpagina($event)">
                            </mat-paginator>
                        </div>



                    </div>
                    <!--TAREAS-->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block collapsed" id="opciones" type="button" data-toggle="collapse"
                        data-target="#DOS" aria-expanded="false" aria-controls="collapseTwo">
                        Imagenes
                    </button>
                </h2>
            </div>
            <div id="DOS" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <!--IMAGENES-->
                    <div class="imagenes">
                        <div class="imagen" style="margin-left: 468px;">
                            <angular-file-uploader *ngIf="fotos.length != 10" [config]="afuConfig" [resetUpload]=reset
                                (ApiResponse)="imageUploaded($event)">
                            </angular-file-uploader>
                        </div>
                        <div class="table-responsive" id="table_refresh" style="margin-top: 29px;"
                            *ngIf="fotos.length != 0">
                            <div class="row">
                                <div class="col">
                                    <h5 id="titulo">Imagenes</h5>
                                </div>

                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let f of fotos | slice:desde:hasta let i=index">
                                        <tr>
                                            <td>{{f.nombre}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" 
                                                data-target="#modalEliminarF"><span class="bi bi-trash-fill"></span></button>

                                                <div class="modal fade" id="modalEliminarF" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel"> <strong>Confirmar</strong>
                                                                </h5>
                                                                <button type="button" class="close" style="color:black" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body" style="text-align:center; margin-top:10px;">
                                                                ¿Esta seguro de eliminar la foto?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">No</button>
                                                                <button id="btnConfirmar{{f.id}}" type="button"
                                                                    class="btn btn-success" (click)="delete(f)"
                                                                    data-dismiss="modal">Aceptar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                            <mat-paginator [length]="fotos.length" [pageSize]="5"
                                [pageSizeOptions]="[3, 5, 10, 25, 100]" aria-label="Select page"
                                (page)="cambiarpagina($event)">
                            </mat-paginator>
                        </div>


                    </div>
                    <!--IMAGENES-->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block collapsed" id="opciones" type="button" data-toggle="collapse"
                        data-target="#TRES" aria-expanded="false" aria-controls="collapseThree">
                        Documentos
                    </button>
                </h2>
            </div>
            <div id="TRES" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <!--DOCUMENTOS-->
                    <div class="row" id="documentos">
                        <div style="margin-left: 468px;">
                            <angular-file-uploader *ngIf="archivos.length != 5" [config]="afuConfig2"
                                [resetUpload]=reset (ApiResponse)="docUploaded($event)">
                            </angular-file-uploader>
                        </div>

                        <div class="table-responsive" id="table_refresh" style="margin-top: 30px;"
                            *ngIf="archivos.length != 0">
                            <div class="row">
                                <div class="col">
                                    <h5 id="titulo">Documentos</h5>
                                </div>

                            </div>
                            <table class="table table-striped" id="tabla">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let a of archivos | slice:desde:hasta let i=index">
                                        <tr>
                                            <td>{{a.nombre}}</td>
                                            <td>
                                                
                                                <button type="button" class="btn btn-danger" data-toggle="modal" 
                                                data-target="#modalEliminarA"><span class="bi bi-trash-fill"></span></button>

                                                <div class="modal fade" id="modalEliminarA" role="dialog">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel"><strong>Confirmar</strong>
                                                                </h5>
                                                            <button type="button" class="close" style="color:black" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body" style="text-align:center;">
                                                                ¿Esta seguro de eliminar el documento?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">No</button>
                                                                <button id="btnConfirmar{{a.id}}" type="button"
                                                                    class="btn btn-success" (click)="delete2(a)"
                                                                    data-dismiss="modal">Aceptar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    $('#btnDelete' + user.id).attr('data-target', '#exampleModal' + user.id);
                                                    $('#btnConfirmar' + user.id).attr('data-target', '#exampleModal' + user.id);
                                                </script>

                                            </td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                            
                        </div>

                        <mat-paginator [length]="archivos.length" [pageSize]="5"
                                [pageSizeOptions]="[3, 5, 10, 25, 100]" aria-label="Select page"
                                (page)="cambiarpagina($event)">
                            </mat-paginator>

                    </div>
                    <!--DOCUMENTOS-->
                </div>
            </div>
        </div>



    </div>


    <div style="margin-top: 40px; text-align: center;">
        <input id="boton" type="submit" value="Agregar" class="btn btn-success mr-2"
            [disabled]="createInspeccionForm.invalid" form="formInspeccion">
    </div>


</div>