<div style="border:20px;" [ngSwitch]="status">
    <div  class="alert alert-danger" *ngSwitchCase="0">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="bi bi-exclamation-triangle-fill"></i>
          <strong> Error</strong> de servidor interno!!!
    </div>
    <div  class="alert alert-danger" *ngSwitchCase="1">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="bi bi-exclamation-triangle-fill"></i>
            <strong> Error:</strong> El numero de inspección ingresado ya existe!!!
    </div>
    <!--MODIFICO CON EXITO-->
    <div class="alert alert-success"  *ngSwitchCase="2" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="bi bi-check-circle-fill"></i>
        <strong> Éxito:</strong> Avance modificado con exito !!!
    </div>

    <!--AVANCE DE TAREA-->
    <div class="alert alert-danger"  *ngSwitchCase="3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Error:</strong>  El avance no debe ser mayor a 100 !!!
    </div>

</div>
<!--TITULO-->
<div class="form-group">
    <p>Agregar Inspección</p>
</div>
<!--FORMULARIO-->
<form id="formInspeccion" class="col-md-6 mr-auto ml-auto" #createInspeccionForm="ngForm" (ngSubmit)="onSubmit(createInspeccionForm)">

    <div class="row">
        <div id="info" class="form-group">
            <label>Numero de inspeccion: </label>
            <input type="number" name="numero" class="form-control" #numero="ngModel" [(ngModel)]="inspeccion.numero"
                required pattern="^[1-9]\d*$">
            <small *ngIf="!numero.valid && numero.touched" class="invalid-feedback d-block">
                El número de inspección no es válido
            </small>
        </div>

        <div id="info" class="form-group">
            <label>Observaciones: </label>
            <input type="text" name="observaciones" class="form-control" #observaciones="ngModel"
                [(ngModel)]="inspeccion.observaciones" required pattern="^[a-zA-Z0-9\.]*$">
            <small *ngIf="!observaciones.valid && observaciones.touched" class="invalid-feedback d-block">
                La observación no es válida
            </small>
        </div>

    </div>


    <div class="row">
        <div id="info" class="form-group">
            <label>Firma: </label>
            <input type="text" name="firma" class="form-control" #firma="ngModel"
                [(ngModel)]="inspeccion.firma" required pattern="^[a-zA-Z0-9\.]*$">
            <small *ngIf="!firma.valid && firma.touched" class="invalid-feedback d-block">
                La firma no es válida
            </small>
        </div>
    </div>

    <div class="row">
        <div style="position: center; margin-top: 29px;">
            <input id="boton" type="submit" value="Agregar" class="btn btn-success mr-2"
                [disabled]="createInspeccionForm.invalid">
        </div>

        <div style="position: center; margin-top: 29px;">
            <angular-file-uploader [config]="afuConfig" [resetUpload]=reset (ApiResponse)="imageUploaded($event)">
            </angular-file-uploader>
        </div>

        <div style="position: center; margin-top: 29px;">
            <angular-file-uploader [config]="afuConfig2" [resetUpload]=reset (ApiResponse)="docUploaded($event)">
            </angular-file-uploader>
        </div>

    </div>

    <div class="container">

      <div class="row">
          <div class="col">
              <h5 id="titulo">Tareas activas</h5>
          </div>

      </div>

      <div class="table-responsive" id="table_refresh">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Numero</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Avance</th>
                      <th scope="col">Modificar Avance</th>
                  </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let tarea of tareas | slice:desde:hasta let i=index">
                      <tr  *ngIf="tarea.avance != '100'" >
                          <td>{{tarea.numero}}</td>
                          <td>{{tarea.descripcion}}</td>
                          <td>{{tarea.avance}}</td>
                          <td>
                              <button id="btnUpdate" class="btn btn-info btn-xs" data-toggle="modal"
                                  data-target="#exampleModal" [attr.data-target]="'#exampleModal'+tarea.id">
                                  <span class="bi bi-bar-chart-fill"></span>
                              </button>
                              <div class="modal fade" id="exampleModal{{tarea.id}}" tabindex="-1"
                                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Avance de Tarea: {{tarea.id}}
                                              </h5>
                                              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                  <span class="bi bi-x-lg"></span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                              <div class="mb-3">
                                                  <label for="avance" class="col-form-label">Valor:</label>
                                                  <input #avance type="number" class="form-control" id="avance">

                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-danger"
                                                          data-dismiss="modal">Cancelar</button>
                                                      <button id="btnConfirmar{{tarea.id}}" type="button"
                                                          class="btn btn-success" (click)="getTarea(tarea.id, avance.value)"
                                                          data-dismiss="modal">Modificar</button>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                  </ng-container>

              </tbody>
          </table>
          <mat-paginator [length]="tareas.length" [pageSize]="5" [pageSizeOptions]="[3, 5, 10, 25, 100]"
              aria-label="Select page" (page)="cambiarpagina($event)">
          </mat-paginator>
      </div>



  </div>

</form>



<!--TAREAS X AVANCE-->

