@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

#titulo{
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        display: block;
        margin-left: auto;
        margin-right:auto;
}

