

  <h5>Fecha del dia</h5>

  <p>!Bienvenidos!</p>

  <div class="homeContent">


      <div class="row">
        <div class="col-sm ">
          <ul class="list-group">
            <p>Projectos</p>
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
        <div class="col-sm ">

          <div class="list-group">
            <p> Tareas</p>
            <a href="#" class="list-group-item list-group-item-action ">
              Cras justo odio
            </a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
          </div>

      </div>



</div>
