
      <header class="header" *ngIf="identity.rol != 'null'">

        <div class="container">
          <div class="btn-menu">
            <label for="btn-menu" class="bi-list"></label>
          </div>
        </div>

        <div class="entrada"> Inicio

        </div>

        <!-- <div class="bodysito">
          <router-outlet></router-outlet>
        </div>-->

       </header>

      <input [checked]="checked" (click)="changeChecked()" type="checkbox" id="btn-menu" *ngIf="identity.rol != 'null'">
      <div class="container-menu">
        <div class="sidebar">

          <div>
            <img src="assets/images/senara-logo-hor.png" width="160" height="55" routerLink="/">
          </div>

        <button mat-button [matMenuTriggerFor]="proyectos"><i class="bi bi-folder-fill"></i>Proyectos</button>
        <mat-menu #proyectos="matMenu">
          <button mat-menu-item routerLink="/proyecto-create" *ngIf="identity.rol=='admin' || identity.rol=='ingeniero'" (click)="changeChecked()">Agregar</button>
          <button mat-menu-item routerLink="/proyecto-list" (click)="changeChecked()">Lista</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="usuarios" *ngIf="identity.rol == 'admin'"><i class="bi bi-people-fill"></i>Usuarios</button>
        <mat-menu #usuarios="matMenu">
          <button mat-menu-item routerLink="/user-register" (click)="changeChecked()" >Agregar</button>
          <button mat-menu-item routerLink="/user-list" (click)="changeChecked()">Lista</button>
        </mat-menu>

        <button mat-button routerLink="/logout/1" (click)="changeChecked()"><i class="bi bi-box-arrow-right"></i>Cerrar Sesión</button>
        <button mat-button routerLink="/about" (click)="changeChecked()"><i class="bi bi-info-circle-fill"></i>Acerca de</button>
          <label for="btn-menu" class="bi bi-x-lg"></label>
        </div>
      </div>


    <div  class="bodysito" >
      <router-outlet></router-outlet>
    </div>


    <footer>
      <p>
        <a target="_blank" href="https://google.com"
          >&copy; 2022 SENARA DRAT. Todos los derechos reservados</a
        >
      </p>
    </footer>
