<div style="border:20px;" [ngSwitch]="status">
    <div  class="alert alert-danger" *ngSwitchCase="0">
      Error de servidor interno!!!
    </div>
    <div class="alert alert-danger"  *ngSwitchCase="1">
      Error: La fecha final debe ser mayor a la fecha de inicio!!
    </div>
    <div class="alert alert-danger"  *ngSwitchCase="3">
      Error: Debe seleccionar una forma de pago!!
    </div>
</div>

<form id="formProyecto" class="col-md-6 mr-auto ml-auto" #updateProyectoForm="ngForm" (ngSubmit)="onSubmit(updateProyectoForm)">
     <div class="form-group">
        <p>
          Modifica el proyecto #{{proyecto.id}}
        </p>
      </div>   
    <div id="info" class="form-group">
            <label>Usuario: </label>
            <select name="usuario" #usuario="ngModel" [(ngModel)]="proyecto.user_id" class="form-control">
                <option *ngFor="let us of users" value="{{us.id}}">
                    {{us.nombre}}
                  </option>
            </select>
    </div>

    <div id="info" class="form-group">
        <label>Numero de contratación: </label>
        <input type="text" name="numero_contratacion" class="form-control" #numero_contratacion="ngModel" 
        [(ngModel)]="proyecto.numero_contratacion" required pattern="^[a-zA-Z0-9\.]*$"> 
        <small *ngIf="!numero_contratacion.valid && numero_contratacion.touched" class="invalid-feedback d-block">
            El número de contratación no es válido
        </small>
    </div>  
          
    <div id="info" class="form-group">
            <label>Nombre: </label>
            <input type="text" name="nombre" class="form-control" #nombre="ngModel" 
            [(ngModel)]="proyecto.nombre" required pattern="^[a-zA-Z0-9\.]*$"> 
            <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
                El nombre no es válido
            </small>
    </div>      

    <div id="info" class="form-group">
        <label>Objetivo: </label>
        <input type="text" name="objetivo" class="form-control" #objetivo="ngModel" 
        [(ngModel)]="proyecto.objetivo" required pattern="^[a-zA-Z0-9\.]*$"> 
        <small *ngIf="!objetivo.valid && objetivo.touched" class="invalid-feedback d-block">
            El objetivo no es válido
        </small>
    </div> 

    <div id="info" class="form-group">
        <label>Ubicación: </label>
        <input type="text" name="ubicacion" class="form-control" #ubicacion="ngModel" 
        [(ngModel)]="proyecto.ubicacion" required pattern="^[a-zA-Z0-9\.]*$"> 
        <small *ngIf="!ubicacion.valid && ubicacion.touched" class="invalid-feedback d-block">
            La ubicacion no es válida
        </small>
    </div> 

    <div id="info" class="form-group"> 
        <label for="fecha_inicio">Fecha de inicio: </label>
        <input type="date" name="fecha_inicio" class="form-control" #fecha_inicio="ngModel" [(ngModel)]="proyecto.fecha_inicio">
    </div>

    <div id="info" class="form-group"> 
        <label for="fecha_final">Fecha de finalización: </label>   
        <input type="date" name="fecha_final" class="form-control" #fecha_final="ngModel" [(ngModel)]="proyecto.fecha_final">
    </div>
    
    <div id="info" class="form-group">
        <label>Forma de pago</label>
      <select name="forma_pago" #forma_pago="ngModel" [(ngModel)]="proyecto.forma_pago" class="form-control">
        <option value="contado">Contado</option>
        <option  value="credito">Credito</option>
      </select>
    </div> 

    <div id="info" class="form-group">
        <label>Monto adjudicado:</label>
        <input type="text" name="monto_adjudicado" class="form-control" #monto_adjudicado="ngModel" 
        [(ngModel)]="proyecto.monto_adjudicado" required pattern="^[0-9\.]*$"> 
        <small *ngIf="!monto_adjudicado.valid && monto_adjudicado.touched" class="invalid-feedback d-block">
            La cédula no es válida
        </small>
    </div>


    <input id="boton" type="submit" value="Modificar" class="btn btn-success" [disabled]="updateProyectoForm.invalid">

</form>