
    <p *ngIf="!is_edit">
        Error
    </p>
    <div [ngSwitch]="status" style="border:20px;">
      <div class="alert alert-success" *ngSwitchCase="0">
          Usuario actualizado exitosamente!!!
      </div>
      <div class="alert alert-danger"  *ngSwitchCase="2">
        Error al actualizar usuario!!!
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="wrapper">
              <div class="row no-gutters">
                <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                  <div class="contact-wrap w-100 p-md-5 p-4">
                  <form   id="formU" #updateUserForm="ngForm" (ngSubmit)="onSubmit(updateUserForm)">
                    <div class="form-group">
                      <p *ngIf="is_edit && user">
                        Modifica el usuario  #{{user.id}}
                    </p>
                    </div>

                    <div class="row">
                    <div id="info" class="form-group">
                      <label>Nombre de Usuario:</label>
                      <input type="text" name="nombreUsuario" class="form-control" #nombreUsuario="ngModel"
                      [(ngModel)]="user.nombreUsuario" required pattern="^[a-zA-Z0-9\.]*$"> <!--PATRON ALFANUMERICO -->
                      <small *ngIf="!nombreUsuario.valid && nombreUsuario.touched" class="invalid-feedback d-block">
                          El nombre no es válido
                      </small>
                  </div>

                  <div id="info"  class="form-group">
                      <label>Contraseña: </label>
                      <input type="password" name="contrasena" class="form-control" #contrasena="ngModel"
                      [(ngModel)]="user.contrasena" required pattern="^[a-zA-Z0-9\.]*$">
                      <small *ngIf="!contrasena.valid && contrasena.touched" class="invalid-feedback d-block">
                          La contraseña no es válida
                      </small>
                  </div>
                </div>

                <div class="row">
                  <div id="info"  class="form-group">
                      <label>Nombre:</label>
                      <input type="text" name="nombre" class="form-control" #nombre="ngModel"
                      [(ngModel)]="user.nombre" required pattern="^[a-zA-Z\.]*$">  <!--PATRON LETRAS -->
                      <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
                          El nombre no es válido
                      </small>
                  </div>
                  <div id="info"  class="form-group">
                      <label>Cédula:</label>
                      <input type="text" name="cedula" class="form-control" #cedula="ngModel"
                      [(ngModel)]="user.cedula" required pattern="^[0-9\.]*$"> <!--PATRON NUMERICO -->
                      <small *ngIf="!cedula.valid && cedula.touched" class="invalid-feedback d-block">
                          La cédula no es válida
                      </small>
                  </div>
                </div>

                <div class="row">
                  <div id="info"  class="form-group">
                      <label>Teléfono: </label>
                      <input type="text" name="telefono" class="form-control" #telefono="ngModel"
                      [(ngModel)]="user.telefono" required pattern="^[0-9\.]*$">
                      <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">
                          El teléfono no es válido
                      </small>
                  </div>

                  <div id="info"  class="form-group">
                      <label>Correo electrónico</label>
                      <input type="email" name="correo" class="form-control" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                      #correo="ngModel" [(ngModel)]="user.correo">
                      <small *ngIf="!correo.valid&&correo.touched" class="invalid-feedback d-block">El correo electrónico no es válido</small>
                    </div>

                </div>

                <div class="row" >
                    <input type="submit" value="Actualizar" class="btn btn-success" [disabled]="updateUserForm.invalid">
                  </div>
                  </form>

                </div>
              </div>
              <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                <div class="wrap w-100 p-md-5 p-4">
                  <div>
                    <img src="assets/images/senara-logo-div.png" width="250" height="150" style="margin-top:150px;margin-bottom:150px;" routerLink="/">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>








