<!--TITULO-->
<div class="form-group">
    <p>Modificar Inspección {{inspeccion.id}}</p>
</div>
<!--FORMULARIO-->
<form id="formInspeccion" class="col-md-6 mr-auto ml-auto" #createInspeccionForm="ngForm" (ngSubmit)="onSubmit(createInspeccionForm)">

    <div class="row">
        <div id="info" class="form-group">
            <label>Numero de inspeccion: </label>
            <input type="number" name="numero" class="form-control" #numero="ngModel" [(ngModel)]="inspeccion.numero"
                required pattern="^[1-9]\d*$">
            <small *ngIf="!numero.valid && numero.touched" class="invalid-feedback d-block">
                El número de inspección no es válido
            </small>
        </div>

        <div id="info" class="form-group">
            <label>Observaciones: </label>
            <input type="text" name="observaciones" class="form-control" #observaciones="ngModel"
                [(ngModel)]="inspeccion.observaciones" required pattern="^[a-zA-Z0-9\.]*$">
            <small *ngIf="!observaciones.valid && observaciones.touched" class="invalid-feedback d-block">
                La observación no es válida
            </small>
        </div>

    </div>


    <div class="row">
        <div id="info" class="form-group">
            <label>Firma: </label>
            <input type="text" name="firma" class="form-control" #firma="ngModel"
                [(ngModel)]="inspeccion.firma" required pattern="^[a-zA-Z0-9\.]*$">
            <small *ngIf="!firma.valid && firma.touched" class="invalid-feedback d-block">
                La observación no es válida
            </small>
        </div>
    </div>

    <div class="row">
        <div style="position: center; margin-top: 29px;">
            <input id="boton" type="submit" value="Agregar" class="btn btn-success mr-2"
                [disabled]="createInspeccionForm.invalid">
        </div>

        <div style="position: center; margin-top: 29px;">
            <angular-file-uploader [config]="afuConfig" [resetUpload]=reset (ApiResponse)="imageUploaded($event)">
            </angular-file-uploader>
        </div> 

        <div style="position: center; margin-top: 29px;">
            <angular-file-uploader [config]="afuConfig2" [resetUpload]=reset (ApiResponse)="docUploaded($event)">
            </angular-file-uploader>
        </div> 

    </div>

    
</form>


