@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

#titulo{
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        font-family: 'Josefin Sans', sans-serif;
}


hr{
  background-color: rgba(20, 172, 232, 0.825);
}

thead {
  background-color: rgba(20, 172, 232, 0.825);

}
