<div style="border:20px;" [ngSwitch]="status">
    <div  class="alert alert-danger" *ngSwitchCase="0">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="bi bi-exclamation-triangle-fill"></i>
          <strong> Error</strong> de servidor interno!!!
    </div>
    <!--AGREGOO CON EXITO-->
    <div class="alert alert-success"  *ngSwitchCase="1" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="bi bi-check-circle-fill"></i>
        <strong> Éxito:</strong> Comentario agregado con exito !!!
    </div>

</div>
<!--TITULO-->

<!--TABLA DE COMENTARIOS-->
<div class="container" *ngIf="comentarios">
    <h5 id="titulo">Comentarios del proyecto "{{proyecto.nombre}} #{{proyecto.numero_contratacion}}"</h5>

    <!--Boton nuevo comentario  -->
    <div class="row">
    <div class="col">
        <button id="btnCreate" type="button" class="btn btn-success m-md-2" data-toggle="modal"
            data-target="#exampleModal" [attr.data-target]="'#exampleModal'+proyecto.id">

            <span class="bi bi-chat-square-dots-fill"> Agregar Comentario</span>
        </button>
        <div class="modal fade" id="exampleModal{{proyecto.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-boddy">
                      <div class="boton-modal">
                      <button  type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span class="bi bi-x-lg"></span>
                    </button>
                  </div>
                            <div id="info" class="form-group col-md-6" style="margin-right:200px;margin-top: 25px;">
                                <mat-form-field appearance="fill" style="width:215%;">
                                    <mat-label>Escriba su comentario...</mat-label>
                                    <textarea name="contenido" #contenido id="contenido" matInput
                                        placeholder="Escriba su comentario..." required></textarea>
                                </mat-form-field>
                            </div>
                    </div>
                    <div class="modal-footer">
                      <div class="row">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                      </div>
                      <div class="row">
                        <button id="btnConfirmar{{proyecto.id}}" type="button" class="btn btn-success"
                            (click)="onSubmit(proyecto.id, contenido.value)" data-dismiss="modal">Agregar</button>
                          </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
</div>
    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Comentario</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let comentario of comentarios | slice:desde:hasta let i=index">
                    <td>{{comentario.contenido}}</td>
                    <td>{{comentario.created_at.slice(0,comentario.created_at.lastIndexOf('.')).split("T")}}</td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="comentarios.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page" (page)="cambiarpagina($event)">
        </mat-paginator>
    </div>
</div>
