
  <div *ngIf="user_id != proyecto.user_id || proyecto.id == 0">
    <error-component></error-component>
  </div>
<div *ngIf="user_id == proyecto.user_id && proyecto.id != 0">
<h1 id="titulo">Información del Proyecto</h1>

<table id="tabla">
  <tr>
    <th>Administrador</th>
    <th>N° Contratación</th>
    <th>Nombre del Proyecto</th>
  </tr>
  <tr>
    <td>{{userName}}</td>
    <td>{{proyecto.numero_contratacion}}</td>
    <td>{{proyecto.nombre}}</td>
  </tr>
  <tr>
    <th>Objetivo del Proyecto</th>
    <th>Ubicación del Proyecto</th>
    <th>Fecha de Inicio</th>
  </tr>
  <tr>
    <td>{{proyecto.objetivo}}</td>
    <td>{{proyecto.ubicacion}}</td>
    <td>{{proyecto.fecha_inicio.slice(0,proyecto.fecha_inicio.lastIndexOf('.')).split("T")}}</td>
  </tr>
  <tr>
    <th>Fecha de Finalización</th>
    <th>Forma de Pago</th>
    <th>Monto Adjudicado</th>
  </tr>
  <tr>
    <td>{{proyecto.fecha_final.slice(0,proyecto.fecha_final.lastIndexOf('.')).split("T")}}</td>
    <td>{{proyecto.forma_pago}}</td>
    <td>{{proyecto.monto_adjudicado}}</td>
  </tr>
  <tr>
    <th>Tareas Ejecutadas</th>
    <th>Avance Obra</th>
    <th>Porcentaje Pagado</th>
  </tr>
  <tr>
    <td>{{tareasEjecutadas}} / {{tareasTotal}}</td>
    <td>{{avanceObra}}%</td>
    <td>{{porcentajePagado}}%</td>
  </tr>
</table>
<div style="margin-top:50px;margin-bottom:50px">
<calendar-component></calendar-component>
</div>
<div style="margin-top: 150px;margin-left:100px">
  <gantt-component></gantt-component>
  </div>
</div>
