
.container{
  margin-bottom: 100px;
  align-items: center;
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  border: dashed 4px rgba(20, 172, 232, 0.825);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 32px 32px;
  scroll-margin-bottom: 100%;
  position: center;
}


.card{
position:static;
margin: 1px;
margin-top: 15px;

}

.cards-columns{
  margin: 4px;
}

.card-header{
  position:static;
    text-align: center;
    margin: 2px;
    padding: 5px;
}

.card-header h3 a{
    color: black;
    text-decoration: none;

}

.card-body{
  position:static;

  margin: 5px;
}

.card-body h6{
  position:static;
  margin: 5px;
}

.col{

    position:static;

}
mat-paginator{
  background-color:dashed 4px rgba(20, 172, 232, 0.825);;
}

#titulo{
  font-size: 32px;
  line-height: 40px;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
}

#form{
  margin-left: 700px;
  
}


