<div style="border:20px;" [ngSwitch]="status">
  <!--ELIMINO CON EXITO-->
  <div class="alert alert-success"  *ngSwitchCase="0" >
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="bi bi-check-circle-fill"></i>
      <strong> Éxito:</strong> Proyecto eliminado con exito !!!
  </div>

  <!--Verificar que no tenga tareas relacionadas-->
  <div class="alert alert-danger"  *ngSwitchCase="1">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="bi bi-exclamation-triangle-fill"></i>
      <strong> Error:</strong> El proyecto tiene tareas asignadas !!!
  </div>

   <!--ERROR DE SERVIDOR-->
    <div  class="alert alert-danger" *ngSwitchCase="2">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="bi bi-exclamation-triangle-fill"></i>
          <strong> Error</strong> de servidor interno!!!
    </div>


<div *ngIf="!showContent">
      <h1 id="titulo">Cargando...</h1>
</div>
<div *ngIf="showContent">
<div class="container" *ngIf="proyectos">
  <nav class="navbar" id="buscar" >
    <div class="container-fluid">
      <form class="d-flex" role="search" id="form" #form="ngForm" (ngSubmit)="buscar(form)">
        <button class="btn btn-secondary mr-2" type="submit" (click)="loadStorage()" id="recarga"><span class="bi bi-arrow-clockwise"></span></button>
        <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" id="valor" name="valor" #valor="ngModel" [(ngModel)]="searchText">
        <button class="btn btn-info " type="submit" ><span class="bi bi-search"></span></button>
      </form>
    </div>
  </nav>
<h1 id="titulo" *ngIf="proyectos.length==0 && status!=3" style="margin-top:100px;">Todavía no tienes proyectos asignados.</h1>

<h1 id="titulo" *ngIf="proyectos.length==0 && status==3" style="margin-top:100px;">No se encontró ningun proyecto con ese nombre.</h1>

<h1 id="titulo" *ngIf="status==4" style="margin-top:20px;">Proyectos encontrados con: {{p}}</h1>



 <div class="card-columns" *ngIf="proyectos.length>0" style="margin-top:20px;">

        <article class="card border-primary " *ngFor="let proyecto of proyectos | slice:desde:hasta let i=index">
            <div class="card-header">

               <!-- <h3>{{proyecto.nombre}}</h3> -->
              <div class="col">
                <h3>
                    <a [routerLink]="['/proyecto-info',proyecto.id]">{{proyecto.nombre}}</a>
                </h3>
                </div>
                <div class="col">
                  <!--Botones-->
                  <div class="buttons">

                    <a [routerLink]="['/inspeccion-list',proyecto.id]" class="btn btn-success" *ngIf="identity.rol == 'inspector'" >
                      <span  class="bi bi-paperclip"></span>
                    </a>

                    <a [routerLink]="['/tarea-list',proyecto.id]" class="btn btn-success mr-2" *ngIf="identity.rol == 'admin' || identity.rol == 'ingeniero'">
                      <span  class="bi bi-clipboard2-fill"></span>
                    </a>

                    <a [routerLink]="['/proyecto-update', proyecto.id]" class="btn btn-warning mr-2" *ngIf="identity.rol == 'admin' || identity.rol == 'ingeniero'">
                      <span  class="bi bi-pencil-fill"></span>
                    </a>

                    <a [routerLink]="['/pago-list', proyecto.id]" class="btn btn-info mr-2" *ngIf="identity.rol != 'inspector' && identity.rol != 'direccion' ">
                      <span  class="bi bi-currency-dollar"></span>
                    </a>

                    <a [routerLink]="['/log-list',proyecto.id]" class="btn btn-dark mr-2" *ngIf="identity.rol =='admin' || identity.rol =='direccion' || identity.rol =='ingeniero'" >
                      <span  class="bi bi-file-text"></span>
                    </a>


                <button id="btnDelete" class="btn btn-danger btn-xs mr-2" *ngIf="identity.rol == 'admin' || identity.rol == 'ingeniero'" data-toggle="modal" data-target="#exampleModal" [attr.data-target]="'#exampleModal'+proyecto.id">
                    <span class="bi bi-trash-fill"></span>
                </button>
                <div class="modal fade" id="exampleModal{{proyecto.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ¿Esta seguro de eliminar el proyecto?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                          <button id="btnConfirmar{{proyecto.id}}"  type="button" class="btn btn-success" (click)="asigna_id(proyecto.id)" data-dismiss="modal">Aceptar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script>
                    $('#btnDelete'+proyecto.id).attr('data-target','#exampleModal'+proyecto.id);
                    $('#btnConfirmar'+proyecto.id).attr('data-target','#exampleModal'+proyecto.id);
                  </script>
                  </div>
                </div>
            </div>

            <div class="card-body">
                <!--Datos para desplegar-->
                <div class="col">
                  <h6>Id</h6><a>{{proyecto.id}}</a>
                </div>
                  <div class="col">
                    <h6>Objetivo</h6><a>{{proyecto.objetivo}}</a>
                  </div>
                  <div class="col">
                    <h6>Fecha inicio</h6><a>{{proyecto.fecha_inicio}}</a>
                  </div>
                  <div class="col">
                    <h6>Fecha final</h6><a>{{proyecto.fecha_final}}</a>
                  </div>

            </div>
        </article>
      </div>
      <mat-paginator [length]="proyectos.length" [pageSize]="3"  [pageSizeOptions]="[3, 5, 10, 25, 100]"  aria-label="Select page" (page)="cambiarpagina($event)" *ngIf="proyectos.length>3">
      </mat-paginator>

</div>
</div>
