<div style="border:20px;" [ngSwitch]="status">
  <div  class="alert alert-danger" *ngSwitchCase="0">
    <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Error</strong> de servidor interno!!!
  </div>
  <div class="alert alert-danger"  *ngSwitchCase="1">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <strong> Error:</strong> La fecha final debe ser mayor a la fecha de inicio!!
  </div>
  <div class="alert alert-danger"  *ngSwitchCase="2">
    <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Error:</strong> La fecha de Inicio de la tarea debe estar dentro del periodo del proyecto!!
  </div>
  <div class="alert alert-danger"  *ngSwitchCase="3">
    <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Error:</strong> La fecha Final de la tarea debe estar dentro del periodo del proyecto!!
  </div>
  <div class="alert alert-danger"  *ngSwitchCase="4">
    <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Error:</strong> El numero de tarea ya está asignado a otra tarea!!
  </div>
  <div class="alert alert-danger"  *ngSwitchCase="5">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <strong> Error:</strong> La suma del peso de las tareas no debe ser mayor a 100!!
  </div>
 </div>

 <div class="form-group">
  <p>Agregar Tarea</p>
  </div>
<form id="formTarea" class="col-md-6 mr-auto ml-auto" #createTareaForm="ngForm" (ngSubmit)="onSubmit(createTareaForm)">

  <div class="row">
    <div id="info" class="form-group">
        <label>Numero de tarea: </label>
        <input type="number" name="numero" class="form-control" #numero="ngModel" 
        [(ngModel)]="tarea.numero" required pattern="^[0-9]+">
        <small *ngIf="!numero.valid && numero.touched" class="invalid-feedback d-block">
            El número de tarea no es válido
        </small>
    </div>

    <div id="info" class="form-group">
            <label>Descripcion: </label>
            <input type="text" name="descripcion" class="form-control" #descripcion="ngModel"
            [(ngModel)]="tarea.descripcion" required pattern="^[a-zA-Z0-9\.]*$">
            <small *ngIf="!descripcion.valid && descripcion.touched" class="invalid-feedback d-block">
                La descripción no es válida
            </small>
    </div>

  </div>


  <div class="row">
    <div id="info" class="form-group">
        <label for="fecha_inicio">Fecha de inicio: </label>
        <input type="date" name="fecha_inicio" class="form-control" #fecha_inicio="ngModel" [(ngModel)]="tarea.fecha_inicio">
    </div>

    <div id="info" class="form-group">
        <label for="fecha_final">Fecha de finalización: </label>
        <input type="date" name="fecha_final" class="form-control" #fecha_final="ngModel" [(ngModel)]="tarea.fecha_final">
    </div>

  </div>

  <div class="row">
    <div id="info" class="form-group">
        <label>Peso: </label>
        <input type="number" name="peso" class="form-control" #peso="ngModel"
        [(ngModel)]="tarea.peso" required pattern="^[0-9]+">
        <small *ngIf="!peso.valid && peso.touched" class="invalid-feedback d-block">
            El peso de la tarea no es válido
        </small>
    </div>

  </div>

  <div class="row">
    <div style="position: center; margin-top: 29px;">
      <input id="boton" type="submit" value="Agregar" class="btn btn-success mr-2" [disabled]="createTareaForm.invalid">
    </div>
      
    <!--CAMBIAR ESTILO AL SELECCIONAR BOTON--> <!--Regresar a la lista de tareas en caso de no poder agregar mas-->
    
    <div style="position: center; margin-top: 29px;" *ngIf="status == 5">
        <input id="boton" type="submit" value="Regresar" class="btn btn-danger mr-2" [routerLink]="['/tarea-list', proyecto.id]">
    </div>

  </div>
</form>
