<div style="border:20px;" [ngSwitch]="status">
  <!--MODIFICO CON EXITO-->
  <div class="alert alert-success"  *ngSwitchCase="0" >
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="bi bi-check-circle-fill"></i>
      <strong> Éxito:</strong> Avance modificado con exito !!!
  </div>

  <!--AVANCE DE TAREA-->
  <div class="alert alert-danger"  *ngSwitchCase="1">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="bi bi-exclamation-triangle-fill"></i>
      <strong> Error:</strong>  El avance no debe ser mayor a 100 !!!
  </div>

  <!--ERROR DE SERVIDOR-->
  <div  class="alert alert-danger" *ngSwitchCase="2">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <i class="bi bi-exclamation-triangle-fill"></i>
          <strong> Error</strong> de servidor interno !!!
  </div>

</div>

<!--TABLA DE TAREAS-->
<div class="container">

    <div class="row" >
      <div class="col">
        <h5 id="titulo">Avance de las tareas</h5>
      </div>
     
    </div>
  
          <div class="table-responsive">
          <table class="table table-striped" >
              <thead>
                  <tr>
                      <th scope="col">Numero</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Avance</th>
                      <th scope="col">Modificar Avance</th>
                  </tr>
              </thead>
              <tbody>
 
                <tr *ngFor="let tarea of tareas | slice:desde:hasta let i=index">
                          <td>{{tarea.numero}}</td>
                          <td>{{tarea.descripcion}}</td>
                          <td>{{tarea.avance}}</td>


                          <td >
                            <button id="btnUpdate" class="btn btn-info btn-xs" data-toggle="modal"
                            data-target="#exampleModal" [attr.data-target]="'#exampleModal'+tarea.id">
                            <span class="bi bi-bar-chart-fill"></span>
                        </button>
                        <div class="modal fade" id="exampleModal{{tarea.id}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Avance de Tarea: {{tarea.id}}
                                        </h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                            <span class="bi bi-x-lg"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="avance" class="col-form-label">Valor:</label>
                                            <input #avance type="number" class="form-control" id="avance">

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Cancelar</button>
                                                <button id="btnConfirmar{{tarea.id}}" type="button"
                                                    class="btn btn-success" (click)="getTarea(tarea.id, avance.value)"
                                                    data-dismiss="modal">Modificar</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
  
              
                </tr>
          
              </tbody>
          </table>
          <mat-paginator [length]="tareas.length" [pageSize]="5"  [pageSizeOptions]="[3, 5, 10, 25, 100]"  aria-label="Select page" (page)="cambiarpagina($event)">
          </mat-paginator>
          </div>
  
  
  </div>
  
  
  
